---
permalink: "index.html"
---

{% extends "base.njk" %}
{% block title_part %}
    personal website
{% endblock title_part %}
{% block content %}
    <p>Interesting in programming, computer architecture, studying, researching, and playing computer games.</p>
    <p>Checkout my papers and projects!</p>
    <p>In case you wondering why this website looks so strange, it's because I copy the legends 
                (<a href="https://norvig.com">Peter Norvig</a>,
        <a href="https://stallman.org">Richard Stallman</a>,
        <a href="https://www.cs.utexas.edu/users/novak/index.html">Gordon S. Novak Jr.</a>, and more).</p>
{% endblock content %}